# APP_NAME=Laravel
# APP_ENV=testing
# APP_KEY=
# APP_DEBUG=true
# APP_URL=http://localhost

# LOG_CHANNEL=stack
# LOG_LEVEL=debug

# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=testing
# DB_USERNAME=root
# DB_PASSWORD=password

# BROADCAST_DRIVER=log
# CACHE_DRIVER=array
# FILESYSTEM_DRIVER=local
# QUEUE_CONNECTION=sync
# SESSION_DRIVER=array
# SESSION_LIFETIME=120



APP_ENV="production"
APP_DEBUG="true"
TELESCOPE_ENABLED="false"
APP_KEY=""
DB_HOST="switchyard.proxy.rlwy.net"
DB_PORT="15175"
DB_DATABASE="railway"
DB_USERNAME="root"
DB_CONNECTION="mysql"
DB_PASSWORD=
QUEUE_CONNECTION="database"
CACHE_DRIVER="file"
BROADCAST_DRIVER="pusher"
