/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# أضف هذه السطور لملف .gitignore الموجود
echo ".railway" >> .gitignore
echo "storage/framework/cache/*" >> .gitignore
echo "storage/framework/sessions/*" >> .gitignore
echo "storage/framework/views/*" >> .gitignore
